@media screen and (max-width: 480px) {
  .over {
    margin-top: 40%;
  }

  .mobile {
    display: none;
  }

  /* .mar{
    margin-top: 50px !important;
  } */

  .FirstFlex {
    justify-content: space-around;
  }

  .font h4 {
    font-size: 1.4em;
  }

  .font h5 {
    font-size: 1.17em;
  }

  .fontp p {
    font-size: 1.15em;
  }

  .autoRefresh {
    top: 50px;
  }

  .bottt {
    font-size: 25px!important;
    
  }
}

.wi {
  width: 90%;
}

.ww {
  width: 80%;
}

.qq {
  width: 30%;
}

.tt {
  width: 30%;
}

.rr {
  width: 70%;
}

.ff {
  width: 40%;
}

/* BlueBox */

.BlueBox {
  padding: 15px 12px 6px 12px;
  background-color: #3E8EF7;
  color: #FFFFFF !important;
  border-radius: 5px;
}

.FirstFlex {
  display: flex;
  align-items: center;
  justify-content: space-between !important;
}

.SecondFlex {
  display: flex;
  align-items: center;
  justify-content: space-between !important;
}

small {
  font-size: 11px;
  float: right;
}

.font h4 {
  text-decoration: underline;
  font-size: 25px;
  font-weight: bold;
}

.font h5 {
  font-size: 21px;
  font-weight: bold;
}

.reatail {
  font-weight: bold;
  font-size: 19px;
}

@media screen and (min-width: 480px) {
  .ov {
    margin-top: 100px;
  }

  .cont {
    margin: 0px 0px 0px 25px;
  }

  .contaiin {
    background-color: #FFFFFF;
    padding-left: 30px;
    padding-right: 30px;
  }

}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 18px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 15px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #536e85;
}

input:focus+.slider {
  box-shadow: 0 0 1px #536e85;
}

input:checked+.slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.swi {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.auto {
  position: relative;
  top: 30px;
}

.switch {
  margin-right: 9px;
  margin-bottom: 2px;
}

.f1 {
  font-size: 1.3em;
}

.f2 {
  font-size: 2em;
  font-family: calibri;
  text-decoration: underline
}

.f3 {
  font-size: 0.8em;
  font-family: calibri;
}

.f4 {
  margin-top: 3%;
}

.f5 {
  zoom: 80%;
}

.dis {
  display: none;
}

.dis2 {
  display: block !important;
}

.size {
  width: 60px;
  height: 60px;
}

.SpinnerPosition {
  position: absolute;
  top: 150%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content-active {
  display: block;
}

.content-inactive {
  display: none;
}

.pointer {
  cursor: pointer;
}

.contain {
  background-color: #FFFFFF;
  padding: 30px 20px 10px 30px;
  margin-top: 30px;
}

.fix {
  height: 50px !important;
  overflow-y: scroll;
}

.mmm {
  margin-top: 90px;
}

.contaiin {
  background-color: #FFFFFF;
  padding-left: 10px;
  padding-right: 10px;
}

.bott {
  margin-top: 30px;
}

.bot {
  margin-top: 20px;
}